<form action="/editarIssue/{{ issue.id }}/" method="GET">
    <h1>{{ issue.id }}</h1>
    <h2>ASUNTO</h2>
    <input type="text" placeholder="asunto" name="asunto"/> 

    <h2>DESCRIPCION</h2>
    <input type="text" placeholder="descripcion" name="descripcion" />
    
    <select name="asignada">
        <option selected="selected">
        sin asignar
        </option>
        {% for usuario in usuarios %}
            <option name="asignadaOpcion" value="{{ usuario.username }}">{{ usuario.username }}</option>
        {% endfor %}
    </select>

    <div id="prioridad">
        <p>Prioridad</p>
        <select name="prioridad">
            {% for prioridad in prioridades %}
                <option name="priority" value="{{ prioridad }}">{{ prioridad }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="status">
        <p>Status</p>
        <select name="status">
            {% for st in status %}
                <option name="status" value="{{ st }}">{{ st }}</option>
            {% endfor %}
        </select>
    </div>


    <input type="submit" value="Editar Issue" />
</form>

{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}
