

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>Inicio de sesión</h1>
    <!-- Añade 2 inputs para el email y la contraseña -->
    <form action="/main/login/" method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>

    <button>Registrarse</button>

    {% load socialaccount %}
    <h1>Google Login</h1>
    <a href="{% provider_login_url 'google'%}">Login with Google</a>

</body>
</html>


