<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load socialaccount %}
<body>


    <h1>BIENVENIDO A TU ESPACIO</h1>


    {% if user.is_authenticated %}
        <p>BIENVENIDO, {{ user.username }} !</p>
    {% endif %}

    <a href="http://127.0.0.1:8000/main/pantallaCrearIssue">Crea un nuevo issue</a>

    <a href="http://127.0.0.1:8000/main/logout">Logout</a>

    <a href="http://127.0.0.1:8000/main/editarPerfil">Editar perfil</a>

    <div>
        <h1>Issues</h1>
        imprime el tamaño de issues
        {% for issue in issues %}
            <a href="http://127.0.0.1:8000/main/mostrarIssue/{{ issue.id }}/">{{ issue.asunto }}</a>
            <p> {{ issue.descripcion }}  {{ issue.creador_id }}</p>
        {% endfor %}
            
    </div>

</body>
</html>