



<h1>{{ issue.asunto }}</h1>
<h2>{{ issue.descripcion }}</h2>
<h3>{{ creador }}</h3>
<h3>ASIGNADA: {{ issue.asignada }}</h3>
<h3>FECHA LIMITE: {% if issue.deadline %} {{ issue.deadline }} <a href="http://127.0.0.1:8000/main/eliminarDeadline/{{ issue.id }}/">Remover la fecha límite</a> {% else %} Esta issue no tiene fecha límite {% endif %}</h3>
<a href="http://127.0.0.1:8000/main/eliminarIssue/{{ issue.id }}/">Eliminar Issue</a>
<a href="http://127.0.0.1:8000/main/mostrarPantallaEditarIssue/{{ issue.id }}/">Editar Issue</a>
<a href="http://127.0.0.1:8000/main/login/auth">Volver a pagina principal</a>


<h1>ACTIVIDADES DE LA ISSUE</h1>
{% for actividad in actividades %}
    <h4>{{ actividad.issue }}</h2>
    <h5>{{ actividad.creador }}</h3>
    <h5>{{ actividad.fecha }}</h3>

    {% if actividad.tipo == 'asunto' or actividad.tipo == 'descripcion' %}
        <h5>El usuario {{ actividad.usuario }} ha modificado el campo: {{ actividad.tipo }}</h5>
    {% elif actividad.tipo == 'creada' %}
        <h5>El usuario {{ actividad.creador }} ha creado la Issue</h5>
    {% elif actividad.tipo == 'asignada' %}
        <h5>La Issue ha sido asignada a {{ issue.asignada }} por {{ actividad.creador }}</h5>
    {% elif actividad.tipo == 'desasignada' %}
        <h5>Se ha desasignado la issue</h5>
    {% endif %}
{% endfor %} 

<form action="/main/addComment/{{ issue.id }}" method="GET">
    <input type="text" name="comentario" placeholder="Comentario" />
    <button id="createButton" type="submit">Create</button>
</form>

<a href="http://127.0.0.1:8000/main/pantallaAddDeadline/{{ issue.id }}/">Añadir deadline a la issue</a>