<h1>{{ issue.asunto }}</h1>
<h2>{{ issue.descripcion }}</h2>
<h3>{{ creador }}</h3>
<h3>ASIGNADA: {{ issue.asignada }}</h3>
<!--escrivir por pantalla a todos los vigilantes-->

<h3>Vigilantes:</h3>
  <div class="vigilantes">
    {% for vigilante in issue.vigilant.all %}
      <span class="vigilante">{{ vigilante.username }}</span>
        <a href="http://127.0.0.1:8000/main/eliminar-vigilante/{{issue.id}}/{{ vigilante.id}}/" class="eliminar-vigilante-btn"> Eliminar vigilante</a>
    {% endfor %}
  </div>

<a href="http://127.0.0.1:8000/main/pantalla-agregar-vigilante/{{issue.id}}/" class="eliminar-vigilante-btn"> Añadir vigilante</a>


<a href="http://127.0.0.1:8000/main/eliminarIssue/{{ issue.id }}/">Eliminar Issue</a>
<a href="http://127.0.0.1:8000/main/mostrarPantallaEditarIssue/{{ issue.id }}/">Editar Issue</a>
<a href="http://127.0.0.1:8000/main/login/auth">Volver a pagina principal</a>


<h1>ACTIVIDADES DE LA ISSUE</h1>
{% for actividad in actividades %}
    <h4>{{ actividad.issue }}</h2>
    <h5>{{ actividad.creador }}</h3>
    <h5>{{ actividad.fecha }}</h3>

    {% if actividad.tipo == 'asunto' or actividad.tipo == 'descripcion' %}
        <h5>El usuario {{ actividad.usuario }} ha modificado el campo: {{ actividad.tipo }}</h5>
    {% elif actividad.tipo == 'creada' %}
        <h5>El usuario {{ actividad.creador }} ha creado la Issue</h5>
    {% elif actividad.tipo == 'asignada' %}
        <h5>La Issue ha sido asignada a {{ issue.asignada }} por {{ actividad.creador }}</h5>
    {% elif actividad.tipo == 'desasignada' %}
        <h5>Se ha desasignado la issue</h5>
    {% endif %}
{% endfor %} 

<style>
    .eliminar-vigilante-btn {
        display: inline-block;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #333;
    }
</style>